<nav class = "nav_1">
  <div class="div_main">
    <div id="div_1">
      <img id="icon" src="../../../assets/toDoListIcon.png" alt="Todo webapp logo">
    <h1 *ngIf="checkLoggedIn()" class="greet_user">Hello!! {{userName_}}</h1>
    <h1 id="Welcome" *ngIf="!checkLoggedIn()" class="greet_user"><marquee>Todo App</marquee></h1>
    </div>
      <div id="div_2">
        <button (click)="toLogin()" *ngIf="!checkLoggedIn()">
          Login
        </button>
        <button (click)="toSignUp()" *ngIf="!checkLoggedIn()">
          SignUp
        </button>
        <button *ngIf="checkLoggedIn()" id="btn_logOut"(click)="toLogOut()">
          LogOut
        </button>
      </div>
  

  </div>
      
  </nav>
  
  
  